APP_DEBUG = trueAPP_TRACE = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 203.195.141.59DATABASE = rhkjUSERNAME = rhkjPASSWORD = rhkj123456HOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn